body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 1.7em;
    color: $base-font-color;
}

.container {
    width: 1080px !important;
}

ui, li {
    list-style: none;
}

input, textarea, button {
    @include border-radius(0px);
}