/* Font Colors */
$base-font-size: 14px;
$base-font-family: "Open Sans", Arial, sans-serif;
$base-font-color: #666666;

/*Background Colors */

$primary-color: #d23b6a;
$secondary-color: #0096a9;
$light-color: #eeeeee;
$dark-color: #292929;
$white-color: #ffffff;
$grey-color: #abacac;
$darker: #181a1b;

/*Button Colors */
$blue-color: #59c2ab;
$hoverPink: #ee2161;