body {
    background-color: $dark-color;
    background-image: none;
}

/* Navbar */

.navbar-header > a:hover {
    border: none !important;
}

.navbar-brand > img {
    padding: 0 !important;
    margin: 0;
}

.navbar {
    background: $secondary-color;
    border-color: #01e0fc;

    a:link {
        color: $white-color !important;
    }

    a:hover, a:visited, a:active {
        color: $white-color !important;
        border-bottom: 4px solid $white-color;
        background-color: transparent;
    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    border-bottom: 4px solid $white-color;
    background-color: transparent;
    color: $white-color;
}