// BLOCKS

.block {
    margin-bottom: 30px;
    background-color: $mute-white;
    width: 340px;
    min-height: 204px;

    p {
        line-height: 20px;
        margin: 0;
    }
}

.block-content {
    padding: 20px;

    h3 {
        color: $dark-grey;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }

    p {
        color: $dark-grey;
        font-size: 13px;
    }
}

.list-group {
    border-top: 1px solid $grey-color;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
}

.list-group-item {
    float: left;
    margin-right: 10px;
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
}

.list-group > li > i {
    font-size: 20px;
    margin-right: 10px;
}

.list-group > li {
    font-size: 20px;
    font-weight: lighter;
    padding-right: 30px;
}

.list-group-item:last-child {
    float: right;
    margin-right: 0;
    padding-right: 0;
}

.ellipsis {
    float: right;
    position: relative;
    top: 21px;
    background-color: $white-color;
    border: 1px solid $grey-color;
    padding: 4px 6px;
    color: $dark-grey;
    right: 17px;
}

i {
    padding: 12px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-color: $secondary-color;
    color: $white-color;
}

.code {
    @extend i;

    //unique background
    background-color: $primary-color;
}

.component {
    @extend i;

    //unique background
    background-color: $secondary-color;
}

.stack {
    @extend i;

    //unique background
    background-color: $purple-color;
}

// DROPDOWN MENU

.dropdown-menu {
    left: 164px;
    top: 55px;
}

.dropdown-menu > li > a {
    font-size: 14px;
}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 3px;
    z-index: 10;
}