.cta {
    margin-top: 30px;
}

.btn {
    border-radius: 0px;
    font-size: 15px;
}

.btn-primary {
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary:hover {
    color: $white-color;
    background-color: $PinkHover;
    border-color: $PinkHover;
}

.btn-primary:focus, .btn-primary.focus {
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-secondary {
    color: $white-color;
    background-color: $dark-grey;
    border-color: $white-color;
}

.btn-secondary:hover {
    color: $dark-grey;
    background-color: $white-color;
    border-color: $white-color;
}